log:
  enabled: true
  file: ./kubelet-credential-provider-vault.log
  level: debug
vault:
  address: https://vault.example.com:8200
  insecureSkipVerify: false
  auth:
    method: kubernetes
    mount: kubernetes
    role: example
  secret:
    mount: secret
    path: example
