name: Labeler
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - labeled
      - unlabeled
permissions: read-all
jobs:
  labeler:
    name: Labeler
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Labeler
        uses: actions/labeler@v6
        with:
          configuration-path: .github/labeler.yaml
          sync-labels: true
